.box {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #bab100    ;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #f1cac5    ;
    --red: #fe0222;
    --orange: #e07f00    ;
    --yellow: #ffbb00;
  
    --background: var(--orange);
    --accent: var(--pink);
  
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--accent);
    padding-bottom: 100px;
    overflow: hidden;
  }
  
  #box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background: var(--accent);
  }
  